test-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FirstName" type="xs:string"/>
        <xs:element name="LastName" type="xs:string"/>
        <xs:choice>
          <xs:element name="Email" type="xs:string"/>
          <xs:element name="Phone" type="xs:string"/>
        </xs:choice>
        <xs:all>
          <xs:element name="Age" type="xs:int"/>
          <xs:element name="City" type="xs:string"/>
        </xs:all>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
